In [1]:
#Import Dependencies
import pandas as pd
#import numpy as np

In [2]:
#File to load
vine_data = "Resources/vine_table.csv"

#Read in vine_table to a Data Frame
vine_data_df = pd.read_csv(vine_data)

#Preview Data Frame
vine_data_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,REAKC26P07MDN,5.0,0.0,0.0,N,Y
1,R3NU7OMZ4HQIEG,2.0,0.0,1.0,N,Y
2,R14QJW3XF8QO1P,5.0,0.0,0.0,N,Y
3,R2HB7AX0394ZGY,5.0,0.0,0.0,N,Y
4,RGKMPDQGSAHR3,5.0,0.0,0.0,N,Y

In [3]:
#Filter data for total_votes count equal or greater to 20 
#and save to a new Data Frame
vote_data_df = vine_data_df.query('total_votes>=20')

#Preview Data Frame
vote_data_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
128,R21KC552Y6HL8X,1.0,27.0,31.0,N,Y
161,RX9WC9FTIR1XR,5.0,25.0,25.0,N,Y
256,RGDCOU1KBHMNG,3.0,29.0,31.0,N,Y
267,RVTYWID2TPMMY,2.0,35.0,42.0,N,Y
719,R2CMPZ5VESGRLY,4.0,27.0,28.0,N,Y
...,...,...,...,...,...,...
2643586,RDDVO19Y8YH01,1.0,12.0,56.0,N,N
2643591,RU2X9GTDZ00IM,5.0,58.0,59.0,N,N
2643614,R40AVFLMGSX5Q,1.0,32.0,34.0,N,N
2643616,R34ITLN8LBTFZN,3.0,48.0,56.0,N,N
2643618,R2MAGOAOXPFMF1,2.0,17.0,20.0,N,Y

In [4]:
#Filter new Data Frame where helpful_votes divided by total_votes is equal or greater to 50% and save to a new Data Frame
#Set vote_data_df to a new Data Frame for helpful votes
helpful_vote_df = vote_data_df

#set masks to protect data while performing calcutions
mask_helpful_votes_col = vote_data_df['helpful_votes']
mask_total_votes_col = vote_data_df['total_votes']
#mask_percent_helpful_col = helpful_vote_df['percents']

#Add new column to hold caluclated values and conduct caluation, divising helpful_votes by total_votes to obtain percentage
helpful_vote_df['percents'] = mask_helpful_votes_col / mask_total_votes_col 


#Filter for 50% or greater
helpful_vote_df = helpful_vote_df.query('percents>=.50')

#Preview Data Frame
helpful_vote_df

<ipython-input-4-a1e22504c6f8>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  helpful_vote_df['percents'] = mask_helpful_votes_col / mask_total_votes_col

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,percents
128,R21KC552Y6HL8X,1.0,27.0,31.0,N,Y,0.870968
161,RX9WC9FTIR1XR,5.0,25.0,25.0,N,Y,1.000000
256,RGDCOU1KBHMNG,3.0,29.0,31.0,N,Y,0.935484
267,RVTYWID2TPMMY,2.0,35.0,42.0,N,Y,0.833333
719,R2CMPZ5VESGRLY,4.0,27.0,28.0,N,Y,0.964286
...,...,...,...,...,...,...,...
2643577,R37NBT4U1EL04K,5.0,47.0,61.0,N,N,0.770492
2643591,RU2X9GTDZ00IM,5.0,58.0,59.0,N,N,0.983051
2643614,R40AVFLMGSX5Q,1.0,32.0,34.0,N,N,0.941176
2643616,R34ITLN8LBTFZN,3.0,48.0,56.0,N,N,0.857143
2643618,R2MAGOAOXPFMF1,2.0,17.0,20.0,N,Y,0.850000

In [5]:
#Filter new Data Frame that filters for only vine == 'Y' and save to a new Data Frame
#Set vine_data_df to a new Data Frame
yes_vine_df = vine_data_df

#Filter for only "Y" values in vine column
yes_vine_df = yes_vine_df[yes_vine_df['vine'] == 'Y']

#Preview Data Frame
yes_vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
1048,R1CBOJMJAYL75C,5.0,0.0,0.0,Y,N
1343,R37IHP001XZVR,5.0,0.0,1.0,Y,N
1393,R175KT8QHRRK2G,4.0,0.0,1.0,Y,N
1572,RNWWD2B3X0CU2,5.0,0.0,0.0,Y,N
2008,R2FDITZFABSUN8,3.0,0.0,1.0,Y,N
...,...,...,...,...,...,...
2598112,R1W951NWVSOQBZ,4.0,5.0,6.0,Y,N
2598127,R1355LD7FXH9VK,5.0,4.0,5.0,Y,N
2598146,R1D34FIDM1F1R2,2.0,4.0,5.0,Y,N
2598196,RNGRV0353CDWX,4.0,109.0,115.0,Y,N
2598231,RESK20IK8JVFT,5.0,10.0,11.0,Y,N

In [6]:
#Filter new Data Frame that filters for only vine == 'N' and save to a new Data Frame
#Set vine_data_df to a new Data Frame
no_vine_df = vine_data_df

#Filter for only "Y" values in vine column
no_vine_df = no_vine_df[no_vine_df['vine'] == 'N']

#Preview Data Frame
no_vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,REAKC26P07MDN,5.0,0.0,0.0,N,Y
1,R3NU7OMZ4HQIEG,2.0,0.0,1.0,N,Y
2,R14QJW3XF8QO1P,5.0,0.0,0.0,N,Y
3,R2HB7AX0394ZGY,5.0,0.0,0.0,N,Y
4,RGKMPDQGSAHR3,5.0,0.0,0.0,N,Y
...,...,...,...,...,...,...
2643614,R40AVFLMGSX5Q,1.0,32.0,34.0,N,N
2643615,R13RP6H1OP0BFS,5.0,3.0,3.0,N,N
2643616,R34ITLN8LBTFZN,3.0,48.0,56.0,N,N
2643617,R30D2N6TX0OFS,3.0,7.0,7.0,N,Y
2643618,R2MAGOAOXPFMF1,2.0,17.0,20.0,N,Y

In [7]:
#Determine the total number of reviews, the number of 5-star reviews and 
#the percentage of 5-star reviews for both paid and unplaid types of reviews

#Total number of reviews
rows_df = vine_data_df['review_id']
total_rows = len(rows_df)


total_rows

2643619

In [8]:
#Total number of reviews for vines
yes_rows_df = yes_vine_df['review_id']
yes_total_rows = len(yes_rows_df)

#Print count
yes_total_rows

10215

In [9]:
#Total number of reviews for non-vines
no_rows_df = no_vine_df['review_id']
no_total_rows = len(no_rows_df)

#Print count
no_total_rows

2633399

In [10]:
#Total number of 5-star reviews
five_star_df = vine_data_df.query('star_rating>=5.0')
five_star_total = len(five_star_df)

#Print count
five_star_total

1645553

In [11]:
#Total number of 5-star reviews for vines
five_star_yes_df = yes_vine_df.query('star_rating>=5.0')
five_star_yes = len(five_star_yes_df)

#Print count
five_star_yes

4343

In [12]:
#Total number of 5-star reviews for non-vines
five_star_no_df = no_vine_df.query('star_rating>=5.0')
five_star_no = len(five_star_no_df)

#Print count
five_star_no

1641210

In [18]:
#Percentage of 5-star reviews for vines
print(five_star_yes/five_star_total)

0.002639234348574613

In [19]:
#Percentage of 5-star reviews for non-vines
print(five_star_no/five_star_total)

0.9973607656514254